<mat-card>
  <div class="info">
    <div class="info-data">
      <h1>Hello Yassine 👋 !</h1>
      <h2>Welcome to your daily debrief.</h2>
    </div>
    <div class="info-data-metrics">
      <h2>
        Active Devices:
        {{ ((this.api.metrics?.totalDevices ?? 0) * 0.1).toFixed(0) }}
      </h2>
      <h2>
        Messages Received:
        {{ (this.api.metrics?.totalMessages ?? 0 * 0.97).toFixed(0) }}
      </h2>
      <h2>Temperature : {{ this.api.metrics?.temperature ?? 0 }} °C</h2>
      <h2>Humidity : {{ this.api.metrics?.humidity ?? 0 }}%</h2>
      <h2>Noise: {{ this.api.metrics?.sound ?? 0 }} dB</h2>
      <h2>Illuminance: {{ this.api.metrics?.lux ?? 0 }} lux</h2>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-card>
