<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Day Temperature</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-charts-gauge
      [view]="view"
      [scheme]="colorScheme"
      [results]="[
        {
          name: 'Temperature',
          value: this.metrics!.temperature
        }
      ]"
      [legend]="false"
      [showAxis]="true"
      [max]="45"
      [min]="-20"
      textValue="Temperature"
      [legendPosition]="legendPosition"
      units="Celcius"
    >
    </ngx-charts-gauge>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
