<mat-card>
  <mat-card-header>
    <mat-card-title>Temperature</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h1>56.6k</h1>
    </div>
    <div class="info">
      <div class="info-data">
        <mat-card-subtitle>Received</mat-card-subtitle>
        56.3k
      </div>
      <div class="info-data">
        <mat-card-subtitle>Sent</mat-card-subtitle>
        2.3k
      </div>
    </div>
    <highcharts-chart
      [Highcharts]="Highcharts"
      [constructorType]="chartConstructor"
      [options]="chartOptions"
      style="width: 100%; height: 400px; display: block; border-radius: 0.2rem"
    ></highcharts-chart>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
