<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Sound</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h3>
        Average Noise:
        {{ this.api.metrics?.sound ?? 0 }}
        dB
      </h3>
    </div>
    <ngx-charts-gauge
      [view]="view"
      [scheme]="colorScheme"
      [results]="[
        {
          name: 'Sound',
          value: this.api.metrics?.sound ?? 0
        }
      ]"
      [legend]="false"
      [showAxis]="true"
      [max]="150"
      [min]="0"
      textValue="Sound"
      [legendPosition]="legendPosition"
      units="dB"
    >
    </ngx-charts-gauge>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
