/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Public Sans", sans-serif;
	font-optical-sizing: auto;
	background-color: #D3DCDE;
}

* {
	font-family: "Public Sans", sans-serif;
	font-optical-sizing: auto;
}