<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Day Temperature</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h3>
        Average Temperature:
        {{ this.api.metrics?.temperature ?? 0 }}°C
      </h3>
    </div>
    <ngx-charts-gauge
      [view]="view"
      [scheme]="colorScheme"
      [results]="[
        {
          name: 'Temperature',
          value: this.api.metrics?.temperature ?? 0
        }
      ]"
      [legend]="false"
      [showAxis]="true"
      [max]="45"
      [min]="-20"
      textValue="Temperature"
      [legendPosition]="legendPosition"
      units="Celcius"
    >
    </ngx-charts-gauge>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
