<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Humidity</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h3>
        Average Humidity:
        {{ this.api.metrics?.humidity ?? 0 }}%
      </h3>
    </div>
    <ngx-charts-gauge
      [view]="view"
      [scheme]="colorScheme"
      [results]="[
        {
          name: 'Humidity',
          value: this.api.metrics?.humidity ?? 0
        }
      ]"
      [legend]="false"
      [showAxis]="true"
      [max]="90"
      [min]="20"
      textValue="Humidity"
      [legendPosition]="legendPosition"
      units="%"
    >
    </ngx-charts-gauge>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
