<mat-card>
  <mat-card-header>
    <mat-card-title>Total Devices</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h1>13.0</h1>
    </div>
    <div class="info">
      <div class="info-data">
        <mat-card-subtitle>Active</mat-card-subtitle>
        9.0
      </div>
      <div class="info-data">
        <mat-card-subtitle>Disconnected</mat-card-subtitle>
        4.0
      </div>
    </div>
    <highcharts-chart
      [Highcharts]="Highcharts"
      [constructorType]="chartConstructor"
      [options]="chartOptions"
      style="width: 100%; height: 400px; display: block; border-radius: 0.2rem"
    ></highcharts-chart>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
